<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <body>

    <h1>Film list</h1>
  
    <table>
      <tr>

        <th>FILM Name</th>
        <th>FILM Date</th>

        <th></th>
      </tr>
      <tr th:each="o : ${filmes}" th:class="${oStat.odd}? 'odd'">

        <td th:text="${o.name}">-14.2</td>

        <td th:text="${#dates.format(o.startDate,'dd-MM-yyyy')}">13 jan 2011</td>

        <td>
          <span th:each="actor : ${o.actors}" th:text="${actor.firstName}"></span>
        </td>
      </tr>
    </table>

  
    <p>
      <a href="../home.html" th:href="@{/}">Return to home</a>
    </p>
    
  </body>
  
</html>

