<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head> 
    <title>Thymeleaf Demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    
<p>Please select an option</p>
    <ol>     
      <li><a href="/ActorsAll" th:href="@{/ActorsAll}">Actor List</a></li>
      <li><a href="/FilmesAll" th:href="@{/FilmesAll}">Film List</a></li>
    </ol>

        
  </body>
</html>